body {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-family: monospace;
	.Tabela {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 150px;
		height: 500px;

		td {
			width: 150px;
			height: 150px;
			border: 2px solid whitesmoke;
			text-align: center;
			font-size: 100px;
		}
		td:hover {
			background-color: rgba(65, 105, 225, 0.5);
			transition: 500ms;
			cursor: pointer;
		}
	}
	.punktacja {
		display: flex;
		align-items: left;
		margin-top: 100px;
		justify-content: center;
		height: 100px;
		.punktya {
			width: 400px;
			text-align: center;
			font-size: 40px;
			color: royalblue;
		}
		.punktyb {
			text-align: center;
			width: 400px;
			font-size: 40px;
			color: greenyellow;
		}
	}
}
